*{
    --greey: rgba(24, 23, 23, 0.884);
    --hover-greey: rgb(207, 207, 207);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

header{
    background: white;
    min-height: 100vh;
    text-align: center;
}

@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

.nav{
    background-color: var(--greey);
    height: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

nav{
    align-self: center;
}

nav>a{
    text-decoration: none;
    color: white;
    font-family: "San Francisco";
    font-weight: 1000;
    font-size: larger;
    margin: 7px;
}

nav>a:hover{
    background: white;
    color: var(--greey);  
}

.btn_top{
    text-decoration: none;
    color: var(--greey);
    font-size: 40px;
    position: fixed;
    left: 95%;
    top: 11vh;
}

.btn_top:hover{
    color: var(--hover-greey); 
}

.h{
    display: flex;
    justify-content: center!important;
    height: 90vh;
}

h1{
    color: var(--greey);
    font-family: "San Francisco";
    max-width: 200px;
    text-align: right!important;
    align-self: center;
}

.h img{
    align-self: center;
}

#nome{
    text-decoration: none;
    color: white;
    background-color: var(--greey);
}

#nome:hover{
    background-color: var(--hover-greey);
}

#about{
    height: 100vh;
}

.foto{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.foto img{
    width: 30%;
    align-self: center;
    border-radius: 100%;
    transition: box-shadow .1s;
}

.foto img:hover{
    box-shadow: 0px 0px 7px 7px var(--greey);
}

.foto p{
    align-self: center;
    font-family: "San Francisco";
    font-weight: 1000;
    font-size: 25px;
    color: var(--greey);
    margin: 20px;
    width: 50%;
}

#course{
    min-height: 100vh;
}

h2{
    text-align: center;
    font-family: "San Francisco";
    font-size: 35px;
    padding-top: 20vh;
}

div.modal > h2{
    padding-top: 0;
}

.c{
    justify-content: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

details{
    width: 20%;
    font-family: "San Francisco";
    font-weight: 1000;
    font-size: 20px;
    color: var(--greey);
    margin: 25px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: 0s;

}

details[open], summary:hover{
    background-color: var(--greey);
    color: white;
    border-radius: 10px;
}

.cadeiras{
    text-decoration: none;
    color: white;
}

.cadeiras:hover{
    color: var(--hover-greey)
}

.modal {
    position: fixed;
    top: 20vh;
    right: 40vh;
    bottom: 20vh;
    left: 40vh;
    font-family: "San Francisco";
    color: var(--greey);
    background: white;
    border: var(--greey) solid 7px;
    border-radius: 20px;
    z-index: 99999;  /*garantir que ela fique na frente das outras*/
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-decoration: none;
    text-align: center;
    font-weight: 1000;
    line-height: 30px;
    margin-top: 5px;
    background: white;
    border-radius: 50%;
    border: var(--greey) solid 5px;
    font-size: 20px;
    color: var(--greey);
}

.fechar:hover{
    background: var(--greey);
    color: white;
}

.text{
    display: flex;
}

.text .infos, .text .proj{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.proj a, .infos a{
    text-decoration: none;
    color: var(--greey);
    background: none;
}

.proj a:hover, .infos a:hover{
    color: white;
    background: var(--greey);
}


footer{
    height: 50px;
    background: var(--greey);
    text-align: center;
    padding: 3%;
}

footer a i{
    text-decoration: none;
    margin: 3px;
    font-size:44px;
    color:white;
}

footer a i:hover{
    color: var(--hover-greey);
}












